<div class="login-page">
  <div class="form">
    <form [formGroup]="form"
          class="login-form">
      <input type="text" placeholder="email" name="email" formControlName="email"/>
      <div class="alert alert-danger"
           *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
        <p>Input correct email</p>
      </div>
      <input type="password" placeholder="password" formControlName="password"/>
      <div class="alert alert-danger"
           *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
        <p>Input correct password</p>
      </div>
      <button class="btn btn-primary" [disabled]="form.invalid"
              [ngClass]="{
                 'disabled': form.invalid
                }"
              (click)="Register()" >Register</button>
      <p class="message"> registered? <a routerLinkActive="active" [routerLink]="['/login']"> go to login page</a></p>
    </form>
  </div>
</div>
