.title {
  padding: 50px 0;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

.search_box {
  display: flex;
  max-width: 1000px;
  background: #29a5d8;
  margin: 0 auto;
  padding: 25px 0 50px;
  border-radius: 3px;

  input {

    border: 0;
    border-bottom: 2px solid #e5edfa;
    width: 86%;
    outline: none;
    padding: 10px;
    background: transparent;
    color: #fff;
    font-size: 16px;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  :focus {
    margin-right: 0;
    margin-left: 0;
    width: 250px;
  }

}

::placeholder {
  color: #e5edfa;
}


.mx-wdt{
 max-width: 100px;
}
