<div class="wrapper">
<div class="menu">
<ul>
  <li>
    <a routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="['/']">home</a>
  </li>
  <li>
    <a routerLinkActive="active" [routerLink]="['/stats']">Stats</a>
  </li>
  <li>
    <a routerLinkActive="active" [routerLink]="['/login']" *ngIf="!auth.logIn">login</a>
  </li>
  <li *ngIf="auth.logIn">
    <a (click)="auth.logout()">logout</a>
  </li>
  <li>
    <a routerLinkActive="active" [routerLink]="['/register']" *ngIf="!auth.logIn">Register</a>
  </li>

</ul>
</div>
  <router-outlet></router-outlet>
</div>
